body{
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-bottom: 36px;
  background-color: #222;
}
header{
  font-family: 'Fjalla One', sans-serif;
  color:#dedede;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 10px;
  letter-spacing: 10px;
/*  border: solid;
  border-color: #dedede;*/
}
footer{
  position:fixed;
  text-align: center;
  bottom:0;
  height:5em;
  background-color: #222;
  color:#aaa;
  width:100%;
}

h1 {
  text-transform: uppercase;
  font-size: 2em;
}

img {
  text-align: center;
  width: 3em;
  height: auto;
  padding-bottom: 2em;
}

/*.content {
    position: fixed;
    margin-top: 80px;
    margin-bottom: 25px;
}*/

iframe {
    margin-top: 5.3em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

